body {
    margin: 0;
    height: 100vh;
    background-color: black;

    /* hide the scrollbar of website */
    overflow: hidden;
}


span {
    background: url("https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_54-256.png");
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    background-size: cover; /* fill image with the full size of span */

    /* left and top makes the edge middle but we need to make the center of image in middle */
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    animation: animate 6s linear;
}


@keyframes animate {
    0% {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0);
    }

    100% {
        transform: translate(-50%, -5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}
